@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
    font-family: "Pacifico", cursive;
    background: #16161d;
    overflow: hidden;
}

h1 {
    font-size: 3.5rem;
    color: #fff;
    user-select: none;
    z-index: 5;
    mix-blend-mode: difference;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.ball {
    width: 300px;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 100%;
    cursor: grab;
    position: absolute;
    z-index: -1;
}
